---
layout: archive
---

<body>
Welcome.  Thank you for visiting my portfolio. <br> 
<br>
  
This portfolio was created to present some of the projects I completed while obtaining a Masters in Data Science.  
  Although not inclusive of all projects completed in the program, this portfolio highlights my skills in statistical analysis, data preparation,
  data wrangling, programming, and data storytelling.  It also demonstrates my ability to work with multiple domains.
  For more more details on my experience and interests, please visit my LinkedIn page using the link on the left and the About Me page link at the top of this page.
  <br>
  <br>
  I am excited to continue learning and working in Data Science.
  </body>
<br>
<br>
Image by <a href='https://www.freepik.com/photos/water'>Water photo created by wirestock - www.freepik.com</a>

